@page "/"

<PageTitle>Index</PageTitle>
<!DOCTYPE html>

  <body>
    <div class="container mt-3">
        <div class="row">
            <div class="col-md-12 border-top-0">
                <table class="table table-hover table-bordered">
                    <thead>
                        <tr>
                            <th>Assets</th>
                            <th width="30%">Current value</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="table-secondary">
                            <th class="text-start" colspan="3">Cash and cash equivalents</th>
                        </tr>
                        <tr>
                            <td>Checking accounts</td>
                            <td>
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text">$</span></div>
                                    <input type="number" class="form-control" id="checkingAccounts" @bind="checkingAccounts" @onblur="UpdateTotalCash">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Savings accounts</td>
                            <td>
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text">$</span></div>
                                    <input type="number" class="form-control" id="savingsAccounts" @bind="savingsAccounts" @onblur="UpdateTotalCash">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Money market accounts</td>
                           <td>
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text">$</span></div>
                                    <input type="number" class="form-control" id="moneyMarketAccounts" @bind="moneyMarketAccounts" @onblur="UpdateTotalCash">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Savings bonds</td>
                            <td>
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text">$</span></div>
                                    <input type="number" class="form-control" id="savingsBonds" @bind="savingsBonds" @onblur="UpdateTotalCash">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>CD's</td>
                            <td>
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text">$</span></div>
                                    <input type="number" class="form-control" id="cds" @bind="cds" @onblur="UpdateTotalCash">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Other</td>
                            <td>
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text">$</span></div>
                                    <input type="number" class="form-control" id="other" @bind="other" @onblur="UpdateTotalCash">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-end">Total cash</td>
                            <td>
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text">$</span></div>
                                    <div>@totalCash</div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                   
                </table>
            </div>
            <div style="height: 20px;"></div>
            <div class="col-md-12 border-top-0">
                <table class="table table-hover table-bordered">
                    <thead>
                        <tr>
                            <th>Liabilities</th>
                            <th width="30%">Current amount due</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class ="table-secondary">
                            <th class="text-start" colspan="3">Current</th>
                        </tr>
                        <tr>
                            <td>Credit card balances</td>
                            <td>
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text">$</span></div>
                                    <input type="number" class="form-control" id="creditCardBalances" name="creditCardBalances">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Estimated income tax owed</td>
                            <td>
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text">$</span></div>
                                    <input type="number" class="form-control" id="incometax" name="incometax">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Other outstanding bills</td>
                            <td>
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text">$</span></div>
                                    <input type="number" class="form-control" id="otherBills" name="otherBills">
                                </div>
                            </td>
                        </tr>
                        <tr class="table-secondary">
                            <th class="text-start" colspan="3">Long-term</th>
                        </tr>
                        <tr>
                            <td>Home mortgage</td>
                            <td>
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text">$</span></div>
                                    <input type="number" class="form-control" id="homeMortgage" name="homeMortgage">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Home equity loan</td>
                            <td>
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text">$</span></div>
                                    <input type="number" class="form-control" id="homeEquityLoan" name="homeEquityLoan">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Mortgage on rental properties</td>
                            <td>
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text">$</span></div>
                                    <input type="number" class="form-control" id="rentalProperty" name="rentalProperty">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Car loans</td>
                            <td>
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text">$</span></div>
                                    <input type="number" class="form-control" id="carLoan" name="carLoan">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Student loans</td>
                            <td>
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text">$</span></div>
                                    <input type="number" class="form-control" id="studentLoan" name="studentLoan">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Life insurance policy loans</td>
                            <td>
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text">$</span></div>
                                    <input type="number" class="form-control" id="lifeInsurance" name="lifeInsurance">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Other loan-term debt</td>
                            <td>
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text">$</span></div>
                                    <input type="number" class="form-control" id="otherLongTermDebt" name="otherLongTermDebt">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-end">Total liabilities</td>
                            <td>
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text">$</span></div>
                                    <input type="number" class="form-control" id="totalLiabilities" name="totalLiabilities" placeholder="0.00">
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
      <hr>
     </div>
   
   </body>


@code {
    private double checkingAccounts { get; set; }
    private double savingsAccounts { get; set; }
    private double moneyMarketAccounts { get; set; }
    private double savingsBonds { get; set; }
    private double cds { get; set; }
    private double other { get; set; }
    // ...
    private double totalCash { get; set; }

    private double CreditCardBalances { get; set; }
    private double IncomeTax { get; set; }
    // ...
    private double TotalLiabilities { get; set; }
 
    private void UpdateTotalCash()
    {
      totalCash = checkingAccounts + savingsAccounts + moneyMarketAccounts + savingsBonds + cds + other;
     
    }

    private void UpdateTotalLiabilities()
    {
        TotalLiabilities = CreditCardBalances + IncomeTax /* + ... */;
    }
}



